* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Open Sans, sans-serif;
  color: black;
  background-color: #fff;
}

main {
  padding: 1rem;
  margin: auto;
}
.s-Content {
  display: flex;
  gap: 12px;
  align-items: center;
}
.s-Content__image {
  background-color: #f5f5f5;
  position: relative;
}
.s-Likes {
  position: absolute;
  top: 0px;
  right: 0px;
}
.s-Likes__button {
  background-color: #fff;
  border: none;
  border-radius: 4px;
  height: 30px;
}
.s-Footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.s-Footer__image {
  display: flex;

  border-radius: 50px;
}
.s-Footer__textHeading {
  color: #003953;
  font-size: 16px;
}
.s-Footer__textDescription {
  font-size: 14px;
  color: #003953;
}
.s-Price {
  font-size: 12px;
  color: #003953;
}
.s-Reviews {
  font-size: 16px;
  color: #003953;
}
.fa-chevron-right {
  color: #1a5c94;
}
.fa-chevron-left {
  color: #1a5c94;
}
.fa-star {
  color: #f7c314;
}
h1 {
  font-weight: bold;
  font-size: 1.5rem;
}
